<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>SignUp</h1>
                    <h6>Register YourSelf</h6>
                </div>
                <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <div class="mb-3">
                        <label for="fullName" class="form-label">Full Name</label>
                        <input formControlName="fullname" type="text" class="form-control" id="fullName" 
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="Email" class="form-label">Email</label>
                        <input formControlName="email" type="email" class="form-control" id="Email" 
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="Dob" class="form-label">Date of Birth</label>
                        <input formControlName="Dob"type="date" class="form-control" id="Dob" 
                            required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input formControlName="password"type="password" class="form-control" id="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input formControlName="confirmPassword"type="password" class="form-control" id="confirmPassword" required>
                    </div>
                    <div class="col-mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                Agree to terms and conditions
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>
                    <div class="col-mb-3" style="margin-top: 20px;">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
                <a routerLink="/login" >Already User ? Click to LogIn ></a>
            </div>
        </div>
    </div>
</div>