<div class="row">
    <div class="col-md-6">
      <div class="container">
        <form [formGroup]="paymentForm" (ngSubmit)="payment()">
  
          <div class="row">
            
  
            <div class="col-50">
              <h3>Payment</h3>
              <label for="fname">Accepted Cards</label>
              <div class="icon-container">
                <i class="fa fa-cc-visa" style="color:navy;"></i>
                <i class="fa fa-cc-amex" style="color:blue;"></i>
                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                <i class="fa fa-cc-discover" style="color:orange;"></i>
              </div>
              <label for="cname">Name on Card</label>
              <input formControlName="cname" type="text" id="cname" name="cardname" >
              <label for="ccnum">Credit card number</label>
              <input formControlName="ccnum" type="text" id="ccnum" name="cardnumber" >
              <label for="expmonth">Exp Month</label>
              <input  formControlName="expmonth" type="text" id="expmonth" name="expmonth" >
  
              <div class="row">
                <div class="col-50">
                  <label for="expyear">Exp Year</label>
                  <input formControlName="expyear" type="text" id="expyear" name="expyear" >
                </div>
                <div class="col-50">
                  <label for="cvv">CVV</label>
                  <input formControlName="cvv" type="text" id="cvv" name="cvv" >
                </div>
              </div>
            </div>
  
          </div>
          <label>
            <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
          </label>
          <input  routerLink="/thankyou"type="submit" value="Continue to checkout" class="btn">
        </form>
      </div>
    </div>
  
    
  </div>
